{% load static %}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>

    
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{%static 'card.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-----JQUERY CDN----->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <!-------Google Font Import---------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">

 <link rel="icon" href="https://www.logodesign.net/logo/alt-5640ld.png">
</head>
<body>
    
    <nav>
       
        <!-- <img src="HECTAGONLOGO.png" class="logo"> -->
        <div class="nav-row">
        <label class="fnt-1" style="font-size: 40px;margin-left: 10px;">Social</label>
            <div class="nav-row-itm">
            <!-- <a href="/"  style="margin-top: 0px;margin-left: 10px;"> <i class="fa fa-home it" style="font-size: 35px;margin-left: 40px;"></i></a> -->

           <a href="/upload"  style="margin-top: 0px;margin-left: 10px;"> <i class="fa fa-pencil it" style="font-size: 30px;margin-left: 40px;"></i></a>
           &nbsp;&nbsp;<a href="/profile/{{request.user.id}}"  style="margin-top: 0px;"> <i class="fa fa-user it" style="font-size: 30px;margin-left: 40px;"></i></a>
        </div>
        
    </div>
    
    
        

        <!-- <ul id="navbar">
            <li><a class="a active" onclick="untrue()" href="/">HOME</a></li>
            <li><a class="a" onclick="untrue()" href="/profile/{{request.user.id}}">PROFILE</a></li>
            <li><a href="/upload" onclick="untrue()" class="a">UPLOAD</a></li>
            <li><a href="/logout" onclick="untrue()" class="a">LOGOUT</a></li>

       
        </ul> -->
   
    <script>
        function untrue(){
            if(document.getElementById("check").checked == true ){
                document.getElementById("check").checked = false;
            }
            else{
                document.getElementById("check").checked = true;
            }
            
    
        }
    </script>

    <!-----Search Bar Sections-->
    <br><br><br><br>
<div class="srch-div">
    
    <input id="search" type="text" placeholder="Search a user..." class="srch-bar">
    <a onclick="srch()" class="non"><i class="fa fa-search"></i></a>
</div>

    <!-----Search Bar Sections Ends-->

    <div class="topic-div">
        {% for i in tp %}
        <a href="/topic/{{i.id}}" class="topic-button">{{i.topic_name}}</a>
        {% endfor %}
        
    </div>


    <!----Main Section----------->
    {% if y %}
    <div style="display: flex;align-items: center;flex-direction: column;margin:7px;">
        <h1 class="main-text">Hello,follow people for get feeds...</h1><br>
    </div>
    

    {% endif %}
    
{% for s in y %}
{% if s.user != request.user %}

    <!-----New User------------->
    <div class="col" style="display: flex;flex-direction: column;align-items: center;">
        <div class="card-div" style="width:200px;display:flex;align-items:center;margin-left: 20px;margin-top:15px;">
            {% if s.profile_picture %}
            <img src="{{baseUrl}}/{{s.profile_picture}}" alt="" class="post-sub-profile">
            {% else %}
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" class="post-sub-profile">
            {% endif %}            <h4 class="main-text">{{s.Name}}</h4>
            <a href="/profile/{{s.user.id}}" class="non" style="margin-left: -50px;"><button class="main-btn">View</button></a><br>
        </div>
    </div>

    <!------New User Ends-------->
    {% endif %}
{% endfor %}

      
<div class="resp-row">


    <div class="desktop-side">
        <div class="desktop-col">
         
         
            <a href="/" class="non"><i class="fa fa-home" style="font-size: 30px;display: flex;flex-direction: row;"><p class="side-bar-p">Home</p></i></a><br><br>
            
            <a href="/profile/{{request.user.id}}" class="non"><i class="fa fa-user" style="font-size: 30px;display: flex;flex-direction: row;"><p class="side-bar-p">Profile</p></i></a><br><br>
            
            <a href="/upload" class="non"><i class="fa fa-pencil" style="font-size: 30px;display: flex;flex-direction: row;"><p class="side-bar-p">Post</p></i></a><br><br>

         <a href="" class="non"><i class="fa fa-cog" style="font-size: 30px;display: flex;flex-direction: row;"><p class="side-bar-p">Settings</p></i></a><br><br>
        </div>
    </div>


    <div class="main">
        {% for i in myfeed %}
        
        
        <!------CARD DIV FOR POST------------>
        <div class="card-div">

            <!-----user photo and name-->
            <div class="row">
                {% if i.user.profile_picture %}
                <img src="{{baseUrl}}/{{i.user.profile_picture}}" alt="" class="post-sub-profile">
                {% else %}
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" class="post-sub-profile">
                {% endif %}
                <div class="row c">
                    <a style="color: black;width: auto;" class="non" href="/profile/{{i.user.user.id}}"><p class="main-text">{{i.user.Name}}</p></a>
                    {% if i.user.verified %}
                        <img class="verified" src="https://cdn-icons-png.flaticon.com/512/3472/3472620.png">
                    {% endif %}
                </div>

            </div>
            
            <!-----user photo and name Sec Ends-->
            <div class="col">
                {% if i.Caption != None %}
                    <p>{{i.Caption}}</p>
                {% endif %}<br>
                {% if i.Img %}
                <img src="{{baseUrl}}/{{i.Img}}" alt="" class="post-image">
                {% endif %}
                
                <p style="font-size: 15px;margin-top: 7px;opacity: 0.7;">{{i.posted_time}}</p>
            </div>
            <form>{% csrf_token %}
            <div class="row">
                
                <a id="{{i.id}}" onclick="react(this.id)" class="non mid" style="margin-left:-10px;">
                    
                    {% if request.user in i.Likes.all %}
                        <i id="7{{i.id}}" class="fa fa-heart" style="width: 50px;font-size: 20px;color:red;"></i>
                    {% else %}
                        <i id="7{{i.id}}" class="fa fa-heart" style="width: 50px;font-size: 20px;"></i>
                    {% endif %}
                    <p class="para-text" style="color:black;">&nbsp;&nbsp;&nbsp;<span id=1{{i.id}}>{{i.Total_likes}}</span>&nbsp;&nbsp;likes</p></a>
                <a href="/comment/{{i.id}}" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/1946/1946412.png" style="width:20px;"></a>
                <a type="button" onclick="share('/post/{{i.id}}')" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/157/157960.png" style="width:20px;opacity: 0.9;"></a>
                {% if request.user == i.UID %}
                <a href="#" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/157/157960.png" style="width:20px;opacity: 0.9;"></a>
                {% endif %}  
            </div>
        </form>
        </div>
        <br><br><br>
    <!------CARD DIV FOR POST------------>
    {% endfor %}

    

    <!------Topics Feeds-->

   
    
        {% for i in tf %}
        {% if i.UID != request.user %}
            
            
            <!------CARD DIV FOR POST------------>
            <div class="card-div">
    
                <!-----user photo and name-->
                <div class="row">
                    {% if i.user.profile_picture %}
                    <img src="{{baseUrl}}/{{i.user.profile_picture}}" alt="" class="post-sub-profile">
                    {% else %}
                    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" class="post-sub-profile">
                    {% endif %}
                    <div class="row c">
                        <a style="color: black;width: auto;" class="non" href="/profile/{{i.user.user.id}}"><p class="main-text">{{i.user.Name}} &nbsp;&nbsp; <span style="color: grey;">#{{i.post_topic}}</span></p></a>
                       
                        {% if i.user.verified %}
                            <img class="verified" src="https://cdn-icons-png.flaticon.com/512/3472/3472620.png">
                        {% endif %}
                    </div>
    
                </div>
                
                <!-----user photo and name Sec Ends-->
                <div class="col">
                    {% if i.Caption != None %}
                        <p>{{i.Caption}}</p>
                    {% endif %}<br>
                    {% if i.Img %}
                    <img src="{{baseUrl}}/{{i.Img}}" alt="" class="post-image">
                    {% endif %}
                    
                    <p style="font-size: 15px;margin-top: 7px;opacity: 0.7;">{{i.posted_time}}</p>
                </div>
                <form>{% csrf_token %}
                <div class="row">
                    
                    <a id="{{i.id}}" onclick="react(this.id)" class="non mid" style="margin-left:-10px;">
                        
                        {% if request.user in i.Likes.all %}
                            <i id="7{{i.id}}" class="fa fa-heart" style="width: 50px;font-size: 20px;color:red;"></i>
                        {% else %}
                            <i id="7{{i.id}}" class="fa fa-heart" style="width: 50px;font-size: 20px;"></i>
                        {% endif %}
                        <p class="para-text" style="color:black;">&nbsp;&nbsp;&nbsp;<span id=1{{i.id}}>{{i.Total_likes}}</span>&nbsp;&nbsp;likes</p></a>
                    <a href="/comment/{{i.id}}" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/1946/1946412.png" style="width:20px;"></a>
                        <!-- <a href="#" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/157/157960.png" style="width:20px;opacity: 0.9;"></a> -->
                    {% if request.user == i.UID %}
                    <a href="#" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/157/157960.png" style="width:20px;opacity: 0.9;"></a>
                    {% endif %}  
                </div>
            </form>
            </div>
            <br><br><br>
        <!------CARD DIV FOR POST------------>
        {% endif %}
        {% endfor %}
    

    

{% if sf %}

<h3 class="main-text">Suggested Post for you</h3><br><br>

{% endif %}

    {% for i in sf %}
    {% if i.UID != request.user %}
        
        
        <!------CARD DIV FOR POST------------>
        <div class="card-div">

            <!-----user photo and name-->
            <div class="row">
                {% if i.user.profile_picture %}
                <img src="{{baseUrl}}/{{i.user.profile_picture}}" alt="" class="post-sub-profile">
                {% else %}
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" class="post-sub-profile">
                {% endif %}
                <div class="row c">
                    <a style="color: black;width: auto;" class="non" href="/profile/{{i.user.user.id}}"><p class="main-text">{{i.user.Name}}</p></a>
                    {% if i.user.verified %}
                        <img class="verified" src="https://cdn-icons-png.flaticon.com/512/3472/3472620.png">
                    {% endif %}
                </div>

            </div>
            
            <!-----user photo and name Sec Ends-->
            <div class="col">
                {% if i.Caption != None %}
                    <p>{{i.Caption}}</p>
                {% endif %}<br>
                {% if i.Img %}
                <img src="{{baseUrl}}/{{i.Img}}" alt="" class="post-image">
                {% endif %}
                
                <p style="font-size: 15px;margin-top: 7px;opacity: 0.7;">{{i.posted_time}}</p>
            </div>
            <form>{% csrf_token %}
            <div class="row">
                
                <a id="{{i.id}}" onclick="react(this.id)" class="non mid" style="margin-left:-10px;">
                    
                    {% if request.user in i.Likes.all %}
                        <i id="7{{i.id}}" class="fa fa-heart" style="width: 50px;font-size: 20px;color:red;"></i>
                    {% else %}
                        <i id="7{{i.id}}" class="fa fa-heart" style="width: 50px;font-size: 20px;"></i>
                    {% endif %}
                    <p class="para-text" style="color:black;">&nbsp;&nbsp;&nbsp;<span id=1{{i.id}}>{{i.Total_likes}}</span>&nbsp;&nbsp;likes</p></a>
                <a href="/comment/{{i.id}}" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/1946/1946412.png" style="width:20px;"></a>
                    <!-- <a href="#" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/157/157960.png" style="width:20px;opacity: 0.9;"></a> -->
                {% if request.user == i.UID %}
                <a href="#" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/157/157960.png" style="width:20px;opacity: 0.9;"></a>
                {% endif %}  
            </div>
        </form>
        </div>
        <br><br><br>
    <!------CARD DIV FOR POST------------>
    {% endif %}
    {% endfor %}









    
    </div>






</div>








    <!----Main Section Ends------->
    
</body>
</html>