{% load static %}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hectagon Post</title>

    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'card.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-----JQUERY CDN----->
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <!-------Google Font Import---------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">

 <link rel="icon" href="{{baseUrl}}/HECTAGONLOGOGREEN.png">
</head>
<body>
    
    <nav>
       
        <!-- <img src="HECTAGONLOGO.png" class="logo"> -->
        <div class="nav-row">
            <a href="/" style="text-decoration: none;color: black;"><label class="fnt-1" style="font-size: 40px;margin-left: 10px;"><img src="{{baseUrl}}/HECTAGONLOGOGREEN.png" style="width:120px;margin-top: -35px;"></label></a>
                <div class="nav-row-itm">
                <!-- <a href="/"  style="margin-top: 0px;margin-left: 25px;"> <i class="fa fa-home it" style="font-size: 35px;margin-left: 40px;"></i></a> -->

               <a href="/upload"  style="margin-top: 0px;margin-left: 25px;"> <i class="fa fa-pencil it" style="font-size: 30px;margin-left: 40px;"></i></a>
               &nbsp;&nbsp;<a href="/profile/{{request.user.id}}"  style="margin-top: 0px;"> <i class="fa fa-user it" style="font-size: 30px;margin-left: 40px;"></i></a>
            </div>
    </nav>
    <script>
        function untrue(){
            if(document.getElementById("check").checked == true ){
                document.getElementById("check").checked = false;
            }
            else{
                document.getElementById("check").checked = true;
            }
            
    
        }
    </script>
    
    <div class="sec-div">
        


        <!------CARD DIV FOR POST------------>
        <div class="card-div">

            <!-----user photo and name-->
            <div class="row">
                {% if i.user.profile_picture %}
                <img src="{{baseUrl}}/{{i.user.profile_picture}}" alt="" class="post-sub-profile">
                {% else %}
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" class="post-sub-profile">
                {% endif %}
               <a href="/profile/{{i.UID.id}}" class="non" style="width: 180px; color:black;"> <p class="post-user">{{i.user.Name}}</p></a>
              
            </div>
            <!-----user photo and name Sec Ends-->
            <div class="col">
                {% if i.Caption != None %}
                    <p>{{i.Caption}}</p>
                {% endif %}<br>
                {% if i.Img %}
                <img src="{{baseUrl}}/{{i.Img}}" alt="" class="post-image">
                {% endif %}

            </div>
            <form>{% csrf_token %}
            <div class="row">
                
                <a id="{{i.id}}" onclick="react(this.id)" class="non mid" style="margin-left:-10px;">
                    
                    {% if request.user in i.Likes.all %}
                        <i id="7{{i.id}}" class="fa fa-heart" style="width: 50px;font-size: 20px;color:red;"></i>
                    {% else %}
                        <i id="7{{i.id}}" class="fa fa-heart" style="width: 50px;font-size: 20px;"></i>
                    {% endif %}
                    <p class="para-text" style="color:black;">&nbsp;&nbsp;&nbsp;<span id=1{{i.id}}>{{i.Total_likes}}</span>&nbsp;&nbsp;likes</p></a>
                <a href="/comment/{{i.id}}" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/1946/1946412.png" style="width:20px;"></a>
                <a onclick="share('/url/post/{{i.id}}')" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/157/157960.png" style="width:20px;opacity: 0.9;"></a>
                {% if request.user == i.UID %}
                
                <a  onclick="deletepost('{{i.id}}')" class="non mid"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" style="width:20px;opacity: 0.9;"></a>
                {% endif %}  
            </div>
        </form>
        </div>
        <br><br><br>
    <!------CARD DIV FOR POST------------>


    </body>
    </html>