{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hectagon Signup</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'card.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-------Google Font Import---------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">

 <link rel="icon" href="{{baseUrl}}/HECTAGONLOGOGREEN.png">
</head>
<body>
    
    <nav>
      
        <!-- <img src="HECTAGONLOGO.png" class="logo"> -->
        <div class="nav-row">
            <label class="fnt-1" style="font-size: 40px;margin-left: 10px;">Hectagon</label>
                <div class="nav-row-itm">
                <!-- <a href="/"  style="margin-top: 0px;margin-left: 25px;"> <i class="fa fa-home it" style="font-size: 35px;margin-left: 40px;"></i></a> -->

               <!-- <a href="/upload"  style="margin-top: 0px;margin-left: 25px;"> <i class="fa fa-camera it" style="font-size: 30px;margin-left: 40px;"></i></a> -->
               &nbsp;&nbsp;<a href="/profile/{{request.user.id}}"  style="margin-top: 0px;"> <i class="fa fa-user it" style="font-size: 30px;margin-left: 40px;"></i></a>
            </div>
    </nav>
    <script>
        function untrue(){
            if(document.getElementById("check").checked == true ){
                document.getElementById("check").checked = false;
            }
            else{
                document.getElementById("check").checked = true;
            }
            
    
        }
    </script>


    <!----Main Section----------->
    <div class="main"><br></h1><br><br><br>
        <h1 class="main-text">Create an Account</h1><br><br>
        {% for m in messages %}
        <p style="color:red;">{{m}}</p>
        {% endfor %}<br>
        <form accept="signup" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" class="inp"><br><br>
            <input type="text" name="name" placeholder="Display Name" class="inp"><br><br>
            <input type="password" name="pass1" placeholder="password" class="inp"><br><br>
            <input type="password" name="pass2" placeholder="confirm password" class="inp"><br><br>
            <input type="submit" value="Create an Account" class="login-btn">
            <br><br><br><br>
            <a href="#">Login</a>

        </form>
    </div>

    </body>
    </html>
